@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

:root {
    --cor-primaria: #eeeeee;
    --cor-secundaria: #2d2e2e;
    --cor-terciaria: #a2847b;
    --cor-hover: #e0c6ce;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;

}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;

}

.apresentacao2 {
    padding: 5% 15%;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    
}

.apresentacao3 {
    padding: 5% 15%;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo2 {
    width: 50%;
    flex: 1;
}

.apresentacao__conteudo3 {
    flex: 1;
}


.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__titulo2 {
    font-size: 1.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.apresentacao__conteudo__paragrafo2 {
    font-size: 1.25rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.apresentacao__conteudo__paragrafo2 a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo__negrito1 {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo__negrito2 {
    color: var(--cor-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;

}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-style: normal;

}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 50%;
}

.apresentacao__imagem2 {
    width: 15%;
}

.apresentacao__imagem3 {
    width: 150%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.apresentacao__conteudo2__img {
    width: 90%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;

}